
@model ArticleViewModel
@{
    ViewData["Title"] = "Index";

    string commentList = ViewBag.AddedComments;
}

<form asp-action="OnAdd" asp-controller="Article" method="post" >


     <div>
        Enter Comment: <input type="text" asp-for="comments" />
    </div>
    <div>
        <input type="submit" value="Add Comment" />
    </div>

</form>



@await Component.InvokeAsync("Comment", commentList)